# Employee Database Application

In [112]:
class Vehicle:
    def __init__(self, vmk, vmd, vy, vml):
        self.__make = vmk
        self.__model = vmd
        self.__year = vy
        self.__mileage = vml

    def get_make(self):
        return self.__make

    def get_model(self):
        return self.__model

    def get_year(self):
        return self.__year

    def get_mileage(self):
        return self.__mileage

    def set_make(self, vmk):
        self.__make = vmk

    def set_model(self, vmd):
        self.__model = vmd

    def set_year(self, vy):
        self.__year = vy

    def set_mileage(self, vml):
        self.__mileage = vml

    def __str__(self):
        return "Make: " + self.__make + "; Model: " + self.__model + "; Year of Manufacture: " + str(self.__year) + "; Mileage: " + str(self.__mileage)

In [113]:
vehicle1=Vehicle("Honda","Civic",2014,50000)
print(vehicle1)
print("The mileage of this vehicle is:", vehicle1.get_mileage())
vehicle1.set_year(2012)
print("The year of manufacture of this vehicle is:", vehicle1.get_year())

Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
The mileage of this vehicle is: 50000
The year of manufacture of this vehicle is: 2012

In [114]:
class Employee:

    def __init__(self, nm, addr, veh):
        self.__emp_name = nm
        self.__emp_addr = addr
        self.__vehicle = veh
    def get_emp_name(self):
        return self.__emp_name
    def get_emp_addr(self):
        return self.__emp_addr
    def get_vehicle(self):
        return self.__vehicle
    def set_emp_name(self, nm):
        self.__emp_name = nm
    def set_emp_addr(self, addr):
        self.__emp_addr = addr
    def set_vehicle(self, veh):
        self.__vehicle = veh
    def compute_compensation(self):
        pass
    def __str__(self):
        allData = "\nEmployee Name: " + self.__emp_name
        allData += "; Employee Address: " + str(self.__emp_addr)
        allData +=  "\n" + self.__vehicle.__str__()
        return allData

In [115]:
emp1=Employee("Amy", "100 W Campbell Road, Richardson, Texas, 75080",vehicle1)
print(emp1)
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))
print("{0} owns a {1} {2} vehicle.".format(emp1.get_emp_name(),emp1.get_vehicle().get_make(),emp1.get_vehicle().get_model()))
emp1.set_emp_addr("800 E Campbell Road, Richardson, Texas, 75080")
print("{0} lives at {1}.".format(emp1.get_emp_name(),emp1.get_emp_addr()))

Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Amy lives at 100 W Campbell Road, Richardson, Texas, 75080.
Amy owns a Honda Civic vehicle.
Amy lives at 800 E Campbell Road, Richardson, Texas, 75080.

In [116]:
class FullTimeEmployee(Employee):


    def __init__(self, nm, addr, veh, sal):
        Employee.__init__(self,nm, addr, veh)
        self.__salary = sal
    def get_salary(self):
        return self.__salary
    def set_salary(self, sal):
        self.__salary = sal
    def compute_compensation(self):
        if self.__salary <= 25000:
            annual_compensation = self.__salary * (1 - 0.18)
        elif self.__salary <= 55000:
            annual_compensation = (self.__salary - 25000) * (1 - 0.28) + 20500
        else:
            annual_compensation = (self.__salary - 55000) * (1 - 0.33) + 42100
        return (annual_compensation/52)
    def compute_reimbursement(self,ae):
            if ae <= 10000:
                 self.__re = ae/52
            else:
                 self.__re = (10000+(0.5*(ae-10000)))/52
            return self.__re
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Full Time Employee are:" + childData
        childData += "\nSalary: " + '{0:0.2f}'.format(self.__salary)
        return childData

In [117]:
emp2=FullTimeEmployee("Amy", "100 W Campbell Road, Richardson, Texas, 75080", vehicle1, 40000)
print(emp2)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp2.get_emp_name(),emp2.compute_reimbursement(12000)))
emp2.set_salary(50000)
print("{0} has an annual salary of ${1}.".format(emp2.get_emp_name(),emp2.get_salary()))

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 40000.00
Amy has an annual salary of $40000.
Amy has a weekly compensation of $601.92.
Amy has a weekly reimbursement of $211.54.
Amy has an annual salary of $50000.

In [118]:
class HourlyEmployee(Employee):

    def __init__(self, nm, addr, veh, hw, hr):
        Employee.__init__(self,nm, addr, veh)
        self.__hours_wrkd = hw
        self.__hourly_rate = hr
    def get_hours_worked(self):
        return self.__hours_wrkd
    def get_hourly_rate(self):
        return self.__hourly_rate
    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw
    def set_hourly_rate(self, hr):
        self.__hourly_rate = hr
    def compute_compensation(self):
        if self.__hours_wrkd > 40:
            return self.__hourly_rate * 40 + self.__hourly_rate * 1.8 * (self.__hours_wrkd - 40)
        else:
            return self.__hourly_rate * self.__hours_wrkd
    def compute_reimbursement(self,we):
            if we <= 100:
                 self.__we = we
            else:
                 self.__we = 100
            return self.__we
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Hourly Employee are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Hourly Rate: " + str(self.__hourly_rate)
        return childData

In [119]:
emp3=HourlyEmployee("Grace", "400 W Campbell Road, Richardson, Texas, 75080", vehicle1,50,20)
print(emp3)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp3.get_emp_name(),emp3.compute_reimbursement(120)))
emp3.set_hourly_rate(22)
print("{0} works {1} hours per week at an hourly rate of ${2}.".format(emp3.get_emp_name(),emp3.get_hours_worked(),emp3.get_hourly_rate()))

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 50; Hourly Rate: 20
Grace works 50 hours per week at an hourly rate of $20.
Grace has a weekly compensation of $1160.00.
Grace has a weekly reimbursement of $100.00.
Grace works 50 hours per week at an hourly rate of $22.

In [120]:
class Consultant(Employee):

    def __init__(self, nm, addr, veh, hw, pt):
        Employee.__init__(self, nm, addr, veh)
        self.__hours_wrkd = hw
        self.__project_type = pt
    def get_hours_worked(self):
        return self.__hours_wrkd
    def get_project_type(self):
        return self.__project_type
    def set_hours_worked(self, hw):
        self.__hours_wrkd = hw
    def set_project_type(self, pt):
        self.__project_type = pt
    def compute_compensation(self):
        if self.__project_type == 1:
            hrly_rate = 55
        elif self.__project_type == 2:
            hrly_rate = 70
        else:
            hrly_rate = 85
        return self.__hours_wrkd * hrly_rate
    def compute_reimbursement(self,we):
            if self.__project_type == 1:
                 self.__we = we
            elif self.__project_type == 2:
                 self.__we = 0.9*we
            elif self.__project_type == 3:
                 self.__we = 0.8*we   
            return self.__we
    def __str__(self):
        childData = super().__str__()
        childData = "\nDetails of this Consultant are:" + childData
        childData += "\nHours Worked: " + str(self.__hours_wrkd)
        childData += "; Project Type: " + str(self.__project_type)
        return childData

In [121]:
emp4=Consultant("Michael", "700 W Campbell Road, Richardson, Texas, 75080",vehicle1,40,2)
print(emp4)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp4.get_emp_name(),emp4.compute_reimbursement(300)))
emp4.set_hours_worked(35)
print("{0} works {1} hours per week for type {2} project.".format(emp4.get_emp_name(),emp4.get_hours_worked(),emp4.get_project_type()))

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Hours Worked: 40; Project Type: 2
Michael works 40 hours per week for type 2 project.
Michael has a weekly compensation of $2800.00.
Michael has a weekly reimbursement of $270.00.
Michael works 35 hours per week for type 2 project.

In [122]:
class Management(FullTimeEmployee,Consultant):

    def __init__(self,nm,adr,veh,sal,hw,pt):
        Employee.__init__(self,nm,adr,veh)
        FullTimeEmployee.__init__(self,nm,adr,veh,sal)
        Consultant.__init__(self,nm,adr,veh,hw,pt)      
    def compute_compensation(self):
        self.__comp= (FullTimeEmployee.compute_compensation(self)+Consultant.compute_compensation(self))
        return self.__comp
    def compute_reimbursement(self, ae, we):
        self.__reim= (FullTimeEmployee.compute_reimbursement(self,ae)+Consultant.compute_reimbursement(self,we))
        return self.__reim
    def __str__(self):
        childData = "\nDetails of this Management are: \n" +"Employee Name: "+(self.get_emp_name())+"; Employee Address: "+(self.get_emp_addr())+"\n"+str(self.get_vehicle())+"\nSalary: {:.2f}".format(float((self.get_salary())))+ "; Hours Worked: "+str(self.get_hours_worked())+"; Project Type: "+str(self.get_project_type())
        return childData

In [123]:
emp5=Management("Jane", "1000 W Campbell Road, Richardson, Texas, 75080",vehicle1,120000,10,3)
print(emp5)
print("\n")
print("{0} has an annual salary of ${1}.".format(emp5.get_emp_name(),emp5.get_salary()))
print("{0} works {1} hours per week for type {2} project.".format(emp5.get_emp_name(),emp5.get_hours_worked(),emp5.get_project_type()))
print("{0} has a weekly compensation of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_compensation()))
print("{0} has a weekly reimbursement of ${1:0.2f}.".format(emp5.get_emp_name(),emp5.compute_reimbursement(8000,300)))

Details of this Management are:
Employee Name: Jane; Employee Address: 1000 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2012; Mileage: 50000
Salary: 120000.00; Hours Worked: 10; Project Type: 3


Jane has an annual salary of $120000.
Jane works 10 hours per week for type 3 project.
Jane has a weekly compensation of $2497.12.
Jane has a weekly reimbursement of $393.85.

In [124]:
def get_emp_input():
    name = input("Enter the employee's name: ")
    address = input("Enter the employee's address: ")
    return name, address

In [125]:
name, address=get_emp_input()
print("{0} lives at {1}.".format(name,address))

Enter the employee's name: Bob
Enter the employee's address: 350 E Campbell Road, Richardson, Texas, 75080
Bob lives at 350 E Campbell Road, Richardson, Texas, 75080.

In [159]:
def get_vehicle_input():
    veh_make = input('Enter the vehicle make: ')
    veh_model = input('Enter the vehicle model: ')

    while(True):
        try:
            veh_year = int(input('Enter the year of manufacture (yyyy): '))
            if veh_year < 1900 or veh_year > 2023: 
                raise ValueError
            break
        except ValueError:
                print('Please enter an integer value for year in the format of yyyy between 1900 and 2023.') 

    while(True):
        try:       
            veh_mileage = int(input('Enter the mileage: '))
            if veh_mileage < 0:
                raise ValueError
            break
        except ValueError:
                print('Please enter a positive number for mileage.') 

    return (veh_make, veh_model, veh_year, veh_mileage)

In [160]:
vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()  
print("The vehicle entered is a {0} {1} made in {2} with {3} mileage curently.".format(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage))

Enter the vehicle make: Ford
Enter the vehicle model: Ranger
Enter the year of manufacture (yyyy): 2025
Please enter an integer value for year in the format of yyyy between 1900 and 2023.
Enter the year of manufacture (yyyy): 2015
Enter the mileage: 80000
The vehicle entered is a Ford Ranger made in 2015 with 80000 mileage curently.

In [128]:
def get_full_time_input():
    salary = float(input("Enter the annual salary: "))
    return salary

In [129]:
salary=get_full_time_input()
print("The annual salary entered is {0:0.2f}".format(salary))

Enter the annual salary: 80000
The annual salary entered is 80000.00

In [130]:
def get_hourly_input():
    hours_worked = int(input("Enter the hours worked: "))
    hourly_rate = float(input("Enter the hourly rate: "))
    return hours_worked,hourly_rate

In [131]:
hours_worked, hourly_rate = get_hourly_input()
print("This hourly employee works {0} hours per week at an hourly rate of ${1:0.2f}".format(hours_worked,hourly_rate))

Enter the hours worked: 30
Enter the hourly rate: 20
This hourly employee works 30 hours per week at an hourly rate of $20.00

In [132]:
def get_consultant_input():
    hours_worked = int(input("Enter the hours worked: "))
    project_type = int(input("Project Type? (Enter a number between 1 and 3): "))
    return hours_worked, project_type

In [133]:
hours_worked, project_type = get_consultant_input()
print("This consultant works {0} hours per week for type {1} project.".format(hours_worked,project_type))

Enter the hours worked: 40
Project Type? (Enter a number between 1 and 3): 2
This consultant works 40 hours per week for type 2 project.

In [134]:
def get_management_input():
    salary = float(input("Enter the annual salary: "))
    hours_worked = int(input("Enter the hours worked: "))
    project_type = int(input("Project Type? (Enter a number between 1 and 3): "))
    return salary, hours_worked, project_type

In [135]:
salary, hours_worked, project_type = get_management_input()
print("This management has an annual salary of ${0:0.2f}. This management also works {1} hours per week additionally for type {2} project.".format(salary, hours_worked,project_type))

Enter the annual salary: 100000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 3
This management has an annual salary of $100000.00. This management also works 8 hours per week additionally for type 3 project.

In [136]:
import pickle
import sys
def read_file_data():
    with open('empdata.dat', 'rb') as f:
        emp_list =[]
        while(1):
            try:
                emp_list.append(pickle.load(f))
            except EOFError:
                break
            except:
                pass
    return emp_list

In [137]:
emp_list=read_file_data()
print("There are {} employees stored in the database.".format(len(emp_list)))
print("\nBelow is the information of the first employee in the database: {}".format(emp_list[0]))
print("\n{} is the first employee.".format(emp_list[0].get_emp_name()))

There are 9 employees stored in the database.

Below is the information of the first employee in the database:
Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Amy is the first employee.

In [138]:
def run_option1():

    while(1):
        try:
            emp_type = int(input("Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)"))
            if emp_type<1 or emp_type>4:
                raise ValueError
            else:
                break
        except ValueError:
            print("Please select an option from 1, 2, 3, and 4")
 
         
    name, address = get_emp_input()
    
    
    vehiclemake, vehiclemodel, vehicleyear, vehiclemileage = get_vehicle_input()    
    
    
    a_vehicle = Vehicle(vehiclemake, vehiclemodel, vehicleyear, vehiclemileage)
    
   
    if emp_type == 1:
        sal = get_full_time_input()
        an_emp = FullTimeEmployee(name, address, a_vehicle,sal)
    elif emp_type == 2:
        hw, hr = get_hourly_input()
        an_emp = HourlyEmployee(name, address, a_vehicle, hw, hr)
    elif emp_type == 3:
        hw, pt = get_consultant_input()
        an_emp = Consultant(name, address, a_vehicle, hw, pt)
    elif emp_type ==4:
        sal, hw, pt = get_management_input()
        an_emp = Management(name, address, a_vehicle, sal, hw, pt)
    
    print(an_emp)
    
    print("\n============================================================")        
    print("New employee entered successfully! Now going to the main menu.")
    print("==============================================================")       
    return an_emp

In [139]:
run_option1()

Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)5
Please select an option from 1, 2, 3, and 4
Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)zzz
Please select an option from 1, 2, 3, and 4
Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter the employee's name: David
Enter the employee's address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the year of manufacture (yyyy): 2018
Enter the mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

In [140]:
def run_option2(my_lst):
    while(1):
        try:
            emp_count = int(input("Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? "))
            if emp_count == 1 or emp_count==2:
                break
            else:
                raise ValueError
        except ValueError:
            print("Please select 1 or 2")
    if emp_count == 1:
        print("\n============================================================")        
        print("Below is the information of all the employees stored in the database.")
        print("==============================================================")
        for i in range(0,len(my_lst)):
            print(my_lst[i])
    else:
        if len(my_lst) >= 5:
            print("==========================================================================")
            print("Below is the information of the first 5 employees stored in the database.")
            print("==========================================================================")
            for i in range(0,5):
                print(my_lst[i])
        else:
            print("\n============================================================")        
            print("Below is the information of all the employees stored in the database.")
            print("==============================================================")
            for i in range(0,len(my_lst)):
                print(my_lst[i])

In [141]:
run_option2(emp_list)

Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 3
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? zzz
Please select 1 or 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 2
==========================================================================
Below is the information of the first 5 employees stored in the database.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

In [142]:
def run_option3(my_lst):
    print("\nEmployee name and Compensation of all Employees")
    print("=================================================")
    for i in range(0,len(my_lst)):
        print("{0}'s weekly compensation is ${1:0.2f}".format(my_lst[i].get_emp_name(),my_lst[i].compute_compensation()))

In [143]:
run_option3(emp_list)

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensation is $601.92
Bob's weekly compensation is $1131.73
Evan's weekly compensation is $1647.12
Grace's weekly compensation is $1160.00
James's weekly compensation is $750.00
Luna's weekly compensation is $300.00
Michael's weekly compensation is $2200.00
Tom's weekly compensation is $3500.00
Zoey's weekly compensation is $2550.00

In [144]:
def run_option4(my_lst):
    ename_list = []
    e_name = input("\nPlease enter the name of the emplyee you want to search:")
    e_name=e_name.upper()
    for i in range(0,len(my_lst)):
        if my_lst[i].get_emp_name().upper() == e_name:
            ename_list.append(my_lst[i])
            
    if len(ename_list) == 0:
        print('There is no employee matching the name you entered.')
        return ename_list
    
    print('==========================================================================')
    print('Below is the information of all employees that match the name you entered.')
    print('==========================================================================')
    
    for i in range(0, len(ename_list)):
        print(ename_list[i])
    return ename_list

In [145]:
matched_emp_list=run_option4(emp_list)
print("\nThere are {} employees matching your search.".format(len(matched_emp_list)))

Please enter the name of the emplyee you want to search:TOM
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

There are 1 employees matching your search.

In [146]:
run_option4(emp_list)

Please enter the name of the emplyee you want to search:Hongchang
There is no employee matching the name you entered.

[]

In [147]:
def run_option5(my_lst):
    emp_count = len(my_lst)
    mean_comp = 0
    max_comp = 0
    count = 0
    for i in range(0,len(my_lst)):
        if my_lst[i].compute_compensation() > max_comp:
            max_comp = my_lst[i].compute_compensation()
        mean_comp += my_lst[i].compute_compensation()
        if my_lst[i].get_vehicle().get_mileage() > 100000:
            count += 1
    print('\n========================================================')
    print('Below is the statistics of all employees in this database.')
    print('========================================================')
    print("There are {0} emplyees stored in this employee database.".format(emp_count))
    print("The highist weekly compensation is ${0:0.2f}.".format(max_comp))
    print("The mean weekly compensation is: ${0:0.2f}.".format(mean_comp/emp_count))
    print("The number of employees who have a vehicle with over 100,000 mileage is {0}.".format(count))

In [148]:
run_option5(emp_list)

========================================================
Below is the statistics of all employees in this database.
========================================================
There are 9 emplyees stored in this employee database.
The highist weekly compensation is $3500.00.
The mean weekly compensation is: $1537.86.
The number of employees who have a vehicle with over 100,000 mileage is 2.

In [161]:
def run_option6(emp_list):
    matched_list=run_option4(emp_list)
    choice=int(input("Which employee do you want to check (enter a number)?"))
    emp=matched_list[choice-1]
    
    weekly_expense = int(input("What is the annual expense?"))
    print("\n############################################################")
    print("This employee should have a weekly reimbursement of ${:.2f}.".format(
        round(matched_list[choice - 1].compute_reimbursement(weekly_expense), 2)))

In [162]:
run_option6(emp_list)

Please enter the name of the emplyee you want to search:bob
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00
Which employee do you want to check (enter a number)?1
What is the annual expense?8000

############################################################
This employee should have a weekly reimbursement of $153.85.

In [151]:
run_option6(emp_list)

Please enter the name of the emplyee you want to search:james
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25
Which employee do you want to check (enter a number)?1
What is the weekly expense?130

############################################################
This employee should have a weekly reimbursement of $100.00.

In [152]:
import sys
def run_option7(my_lst):
    f = open('empdata.updated.dat', 'w')
    f.close()
    exit = input('You chose to exit the program \nAre you sure(Y/N)?')
    if exit.lower() == 'n':
        print("\n\n=================================")
        print("Going back to the selection menu.")
        print("=================================")
    elif exit.lower() == 'y':
        print("=================================")
        print("Program successfully being closed")
        print("=================================")
        sys.exit()
    elif exit.lower() != 'n' or exit.lower() != 'y':
        print(
            "\n\nYour input doesn't match any valid option and has been considered as 'N'.\nGoing back to the selection menu.")

In [153]:
run_option7(emp_list)

You chose to exit the program
Are you sure(Y/N)?b


Your input doesn't match any valid option and has been considered as 'N'.
Going back to the selection menu.

In [154]:
run_option7(emp_list)

You chose to exit the program
Are you sure(Y/N)?n


=================================
Going back to the selection menu.
=================================

In [155]:
run_option7(emp_list)

You chose to exit the program
Are you sure(Y/N)?y
=================================
Program successfully being closed
=================================

SystemExit:

In [157]:
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 0

=========================================
You must enter an integer between 1 and 7!
=========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 8

=========================================
You must enter an integer between 1 and 7!
=========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: zzz

=========================================
You must enter an integer between 1 and 7!
=========================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure(Y/N)?n


=================================
Going back to the selection menu.
=================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure(Y/N)?y
=================================
Program successfully being closed
=================================

SystemExit:

In [158]:
run_menu_options()

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter the employee's name: David
Enter the employee's address: 103 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: BMW
Enter the vehicle model: X3
Enter the year of manufacture (yyyy): 2018
Enter the mileage: 5000
Enter the annual salary: 110000
Enter the hours worked: 5
Project Type? (Enter a number between 1 and 3): 2

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter the employee's name: Grace
Enter the employee's address: 105 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Porsche
Enter the vehicle model: Cayenne
Enter the year of manufacture (yyyy): 2019
Enter the mileage: 3000
Enter the annual salary: 180000
Enter the hours worked: 8
Project Type? (Enter a number between 1 and 3): 1

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 180000.00; Hours Worked: 8; Project Type: 1

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 1
Enter the employee type(1-Full Time;2-Hourly;3-Consultant;4-Management)4
Enter the employee's name: Zoey
Enter the employee's address: 107 E Campbell Road, Richardson, Texas, 75080
Enter the vehicle make: Audi
Enter the vehicle model: A3
Enter the year of manufacture (yyyy): 2022
Enter the mileage: 3000
Enter the annual salary: 90000
Enter the hours worked: 10
Project Type? (Enter a number between 1 and 3): 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2022; Mileage: 3000
Salary: 90000.00; Hours Worked: 10; Project Type: 3

============================================================
New employee entered successfully! Now going to the main menu.
==============================================================

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 2
Do you want to see information of all employees (input 1) or the first 5 employees (input 2)? 1

============================================================
Below is the information of all the employees stored in the database.
==============================================================

Details of this Full Time Employee are:
Employee Name: Amy; Employee Address: 100 W Campbell Road, Richardson, Texas, 75080
Make: Honda; Model: Civic; Year of Manufacture: 2014; Mileage: 50000
Salary: 40000.00

Details of this Full Time Employee are:
Employee Name: Bob; Employee Address: 200 W Campbell Road, Richardson, Texas, 75080
Make: Toyota; Model: Camry; Year of Manufacture: 2010; Mileage: 60000
Salary: 80000.00

Details of this Full Time Employee are:
Employee Name: Evan; Employee Address: 300 W Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2016; Mileage: 30000
Salary: 120000.00

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Hourly Employee are:
Employee Name: James; Employee Address: 500 W Campbell Road, Richardson, Texas, 75080
Make: Mazda; Model: Mazda3; Year of Manufacture: 2010; Mileage: 80000
Hours Worked: 30; Hourly Rate: 25

Details of this Hourly Employee are:
Employee Name: Luna; Employee Address: 600 W Campbell Road, Richardson, Texas, 75080
Make: Nissan; Model: Sentra; Year of Manufacture: 2005; Mileage: 160000
Hours Worked: 20; Hourly Rate: 15

Details of this Consultant are:
Employee Name: Michael; Employee Address: 700 W Campbell Road, Richardson, Texas, 75080
Make: Ford; Model: Ranger; Year of Manufacture: 2011; Mileage: 80000
Hours Worked: 40; Project Type: 1

Details of this Consultant are:
Employee Name: Tom; Employee Address: 800 W Campbell Road, Richardson, Texas, 75080
Make: Mercedes-Benz; Model: GLE350; Year of Manufacture: 2018; Mileage: 30000
Hours Worked: 50; Project Type: 2

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

Details of this Management are:
Employee Name: David; Employee Address: 103 E Campbell Road, Richardson, Texas, 75080
Make: BMW; Model: X3; Year of Manufacture: 2018; Mileage: 5000
Salary: 110000.00; Hours Worked: 5; Project Type: 2

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 180000.00; Hours Worked: 8; Project Type: 1

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2022; Mileage: 3000
Salary: 90000.00; Hours Worked: 10; Project Type: 3

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 3

Employee name and Compensation of all Employees
=================================================
Amy's weekly compensation is $601.92
Bob's weekly compensation is $1131.73
Evan's weekly compensation is $1647.12
Grace's weekly compensation is $1160.00
James's weekly compensation is $750.00
Luna's weekly compensation is $300.00
Michael's weekly compensation is $2200.00
Tom's weekly compensation is $3500.00
Zoey's weekly compensation is $2550.00
David's weekly compensation is $1868.27
Grace's weekly compensation is $2860.19
Zoey's weekly compensation is $2110.58

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 4

Please enter the name of the emplyee you want to search:grace
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Hourly Employee are:
Employee Name: Grace; Employee Address: 400 W Campbell Road, Richardson, Texas, 75080
Make: Kia; Model: Rio; Year of Manufacture: 2005; Mileage: 150000
Hours Worked: 50; Hourly Rate: 20

Details of this Management are:
Employee Name: Grace; Employee Address: 105 E Campbell Road, Richardson, Texas, 75080
Make: Porsche; Model: Cayenne; Year of Manufacture: 2019; Mileage: 3000
Salary: 180000.00; Hours Worked: 8; Project Type: 1

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 5

========================================================
Below is the statistics of all employees in this database.
========================================================
There are 12 emplyees stored in this employee database.
The highist weekly compensation is $3500.00.
The mean weekly compensation is: $1723.32.
The number of employees who have a vehicle with over 100,000 mileage is 2.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 6

Please enter the name of the emplyee you want to search:ZOEY
==========================================================================
Below is the information of all employees that match the name you entered.
==========================================================================

Details of this Consultant are:
Employee Name: Zoey; Employee Address: 900 W Campbell Road, Richardson, Texas, 75080
Make: Tesla; Model: Model3; Year of Manufacture: 2018; Mileage: 15000
Hours Worked: 30; Project Type: 3

Details of this Management are:
Employee Name: Zoey; Employee Address: 107 E Campbell Road, Richardson, Texas, 75080
Make: Audi; Model: A3; Year of Manufacture: 2022; Mileage: 3000
Salary: 90000.00; Hours Worked: 10; Project Type: 3
Which employee do you want to check (enter a number)?1
What is the weekly expense?120

############################################################
This employee should have a weekly reimbursement of $96.00.

==== Menu ====
1. To add an employee
2. To print the name and address of employees
3. To print the employee name and compensation of all employees
4. To search for employees by name
5. To check the basic statistics of employees
6. To calculate the reimbursement of one employee
7. To exit program
Your selection is: 7
You chose to exit the program
Are you sure(Y/N)?y
=================================
Program successfully being closed
=================================

SystemExit: